<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jobs index</title>
</head>
<body>
  <nav>
    <a href="/jobs">List of jobs (index)</a>
    |
    <a href="/jobs/new">Add a *new job</a>
    |
    <!-- <a href="/users/register">Register</a>
    |
    <a href="/users/signin">Signin</a>
    |
    <a href="/users/signout">Signout</a> -->
  </nav>