<%- include('./partials/header.ejs') %>
<h1>Sign in or Register to continue on to Job Tracker</h1>
<button>Sign In</button>
<a href="./users/register.ejs">Register</a>
<a href="./users/signin.ejs">Sign In</a>
<%- include('./partials/footer.ejs') %>