<%- include('./partials/header.ejs') %>
<% if (currentUser) { %>
  
      <% } else { %>
        <div class="shadow p-3 mb-5 bg-white rounded text-center">
          <h1>This app will track the jobs applications</h1>
          <button><a href="/users/register">Register</a></button>
          <button><a href="/users/signin">Sign In</a></button>  
        </div>
        
      <% } %>


<%- include('./partials/footer.ejs') %>