<%- include('./partials/header.ejs') %>
<h1>Sign in or Register to continue on to Job Tracker</h1>
<button>Sign In</button>
<a href="/users/register">Register</a>
<a href="/users/signin"></a>
<%- include('./partials/footer.ejs') %>