<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Job</title>
</head>
<body>
  <h1>Add a job (fruit "new" page)</h1>

    <form method="POST" action="/fruits">
      <fieldset>
        <label for="name">Title:</label>
        <input id="name" type="text" name="name" placeholder="Enter new job title">
      </fieldset>
      <fieldset>
        <label for="location">Location:</label>
        <input id="location" type="text" name="location" placeholder="Enter Location">
      </fieldset>
      <fieldset>
        <label for="date">Date:</label>
        <input id="date" type="text" name="date" placeholder="Enter Date">
      </fieldset>
      <fieldset>
        <label for="interview">Got an interview: </label>
        <input id="interview" type="checkbox" name="interview">
      </fieldset>
      <button>Add the job!</button>
    </form>
</body>
</html>