<%- include('../partials/header.ejs') %>
    <h1>Register A New User</h1>
    <form action="/users/register" method="POST">
      <fieldset class='row mb-3'>
        <label class="col-sm-1 col-form-label" for="username">Username:</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" name="username">
        </div>
      </fieldset>
      <fieldset class='row mb-3'>
        <label class="col-sm-1 col-form-label" for="password">Password:</label>
        <div class="col-sm-2">
          <input class="form-control" type="password" name="password">
        </div>
        
      </fieldset>
      <input class="btn btn-primary row mb-3" type="submit" value="Sign Up">
      <!-- <div><a class="btn btn-primary row mb-3" href="/">Home</a></div> -->
    </form>
  </body>
</html>
