<%- include('../partials/header.ejs') %>
    <h1>Sign In</h1>
    <div>
      <form action="/users/signin" method="POST">
        <fieldset class='row mb-3'>
          <label class="col-sm-1 col-form-label" for="username">Username:</label>
          <div class="col-sm-2">
            <input class="form-control" type="text" name="username">
          </div>
        </fieldset>
        <fieldset class='row mb-3'>
          <label class="col-sm-1 col-form-label" for="password">Password:</label>
          <div class="col-sm-2">
            <input class="form-control" type="password" name="password">
          </div>
          
        </fieldset>
        <input class="btn btn-primary" type="submit" value="Sign In">
        <div><a class="btn btn-primary" href="/">Home</a></div>
      </form>
  </div>
  </body>
    <!-- <form action="/users/signin" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </fieldset>
      <input type="submit" value="Sign In">
    </form> -->
  </body>
</html>
